.header-base {
  background: rgb(255, 255, 255);
  margin-bottom: 1.45rem;
  position: sticky;
  top: '0';
}

.w3-bar-custom {
  max-width: 960;
  margin: 0 auto;
  margin-left: 10%;
  padding: 1.45rem 0rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.main-content {
  margin-left: 10%;
  margin-right: 20%;
}